#header {
	background: #778899;
	border-bottom: double 2px black;
	border-left: solid 2px black;
	border-right: solid 2px black;
	border-top: solid 2px black;
	font: normal 230% 'Cambria', Times, serif;
	margin: 0px 0px 20px 0px;
	padding: 10px 10px 15px 15px;
	border-radius: 5px;
}

#header a{
	text-decoration:none;
	color:black;
}