#explanation{
	font: italic normal 100% 'Cambria', Times, serif;
	margin: 0px 0px 20px 5px;
	padding: 10px 10px 10px 10px;
	line-height: 150%;
	text-align: center;
}

#greeting{
	font: italic normal 100% 'Cambria', Times, serif;
	margin: 0px 0px 10px 5px;
	padding: 10px 10px 10px 10px;
	line-height: 150%;
	text-align: center;
}

#login{
	font: italic normal 100% 'Cambria', Times, serif;
	width: 100%;
	margin: 0px 0px 20px 5px;
	padding: 10px 10px 10px 10px;
	text-align: center;
}

#logout{
	font: italic normal 100% 'Cambria', Times, serif;
	width: 100%;
	margin: 0px 0px 20px 5px;
	padding: 10px 10px 10px 10px;
	text-align: center;
}

#friendcell{
	font: normal 100% 'Cambria', Times, serif;
	padding: 10px 10px 10px 10px;
	text-align: center;

}

a {
	text-decoration: none;
	font-style: bold;
}


/*#header {
	background: #778899;
	border-bottom: double 2px black;
	border-left: solid 2px black;
	border-right: solid 2px black;
	border-top: solid 2px black;
	
	margin: 0px 0px 20px 0px;
	padding: 10px 10px 15px 15px;
}*/