<h2>{{forloop.counter}}. {{ q.question_text }}</h2>
{% with question_number=forloop.counter0 %}
<table>
	<tr>
		{% for answer in q.responses %}
		<td>
			<label>
				<input type="radio" name="question_{{ question_number }}" value="{{ forloop.counter0 }}" style="visibility:hidden">
				<div style="background-color:rgb({{answer.0}},{{answer.1}},{{answer.2}}); border: 1px solid black; height:100px; width:100px; margin-right:30px"> 
					&nbsp;&nbsp;
				</div>
			</label>
		</td>
		{% endfor %}
	</tr>
</table>


{% endwith %}
