{% extends 'base.html' %}

{% block main %}
 <div>
 <h1>Lowdown Quiz Application</h1>

 <p>
   <ul>
   {% if request.user and not request.user.is_anonymous %}
     <li>
       <a>Hello {{ request.user }}{#{{ request.user.get_full_name|default:request.user.username }}#}!</a>
     </li>
     {% for friend in friends %}
     {% url 'Facebook_App.views.quiz' friend.id as friend_quiz_url %}
     <li>
       <a href="{{ friend_quiz_url }}">
       <img src="{{ friend.picture.data.url }}" alt="testing"> 
       {{ friend.name }}</a>
     </li>
     {% endfor %}
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
   {% else %}
     <li>
       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
     </li>
   {% endif %}
   </ul>
 </p>
 </div>
{% endblock %}
