{% extends 'base.html' %}

{% block main %}
<div>
    <div>
    	<h2> CORRECT: {{correct}} </h2>
    	<h2> INCORRECT: {{incorrect}} </h2>
    </div>
    <div>
	{% for q in questions %}
		{% if q.image %}
			<img src="{{q.image}}" alt="image" style="max-width: 50%;">
		{% endif %}
		<h2>{{q.QUESTION_TEXT}}</h2>
		
		{% with question_number=forloop.counter0 %}
			{% for answer in q.questionArr %}
				{% if forloop.counter0 == q.correct_index %}
					<div style="background-color: green"> <input type="radio" name="question_{{ question_number }}" disabled {% if forloop.counter0 == q.checked %} checked {% endif %} value="{{ forloop.counter0 }}">{{ answer }} <br> </div>
				{% else %}
					<div {% if forloop.counter0 == q.checked %} style="background-color: red" {% endif %}> <input type="radio" name="question_{{ question_number }}" disabled {% if forloop.counter0 == q.checked %} checked {% endif %} value="{{ forloop.counter0 }}">{{ answer }}<br> </div>
				{% endif %}
			{% endfor %}
			<br>
		{% endwith %}
	{% endfor %}   
    </div>
</div>
{% endblock %}
