{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'quiz.css' %}" />
<input type="hidden" id="answers" value="{{ answers }}">

<div class="progress-wrap">
 <div class="progress-bar progress"></div>
</div>

<div id="container">
    <div>
        {% if questions %}
        <form id="form" action="/Facebook_App/quiz_grade" method="post"> {%csrf_token%}

            {% for q in questions %}
                <div class={% if flavour == "full" %}"question"{% else %}"question-mobile" {% endif %} {% if forloop.counter != 1 %} style="display:none" {% endif %} id="question_{{forloop.counter}}" name="question">
                    {% with template_name=q.template|stringformat:"s"%}
                    {% include "questions/"|add:template_name %}
                    {% endwith %}
                </div>
                {% endfor %}

            </form>
            {% else %}
            <p>
                Error fetching quiz data for this friend.
            </p>
            {% endif %}
        </div>
    </div>



    {% endblock %}
